@import 'constants.scss';

.Button {
  padding: 20px;
  margin-right: 15px;
  font-weight: 500;
  color: $baseWhiteColor;
  background-color: $baseThemeColor;
  cursor: pointer;
  border: 0;
  box-shadow: none;
  border-radius: 0px;
  transition: background-color 200ms;
}

.Button:hover,
.Button:active {
  background-color: $lightenThemeColor;
}
