@import 'constants.scss';

.VacationRow div.ui-panel-content {
  display: flex;
  justify-content: space-between;
}

.VacationRow div.ui-panel-titlebar {
  opacity: 0.75;
}

.VacationRow-Header {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 15px;
  padding: 10px;
  border-radius: 3px;
  transition: background-color 200ms, color 200ms;
  cursor: pointer;
}
.VacationRow-Header:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: $darkenDarkColor;
}
.VacationRow-Header:last-child {
  word-wrap: break-word;
}

.VacationRow-Body {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #eee;
  height: 150px;
  padding: 15px 5px;
}

@media (max-width: $media-ui-md) {
  .VacationRow-Header {
    div:nth-child(2) {
      text-align: right;
    }
  }
}
