.Profile {}

.Profile-Header {
  margin-bottom: 30px;
}
.Profile-Header div:first-child {
  font-size: 150%;
  font-weight: 600;
  color: #141EC5;
}
.Profile-Header div:last-child {
  text-align: right;
}
.Profile-Header div:last-child button:last-child {
  margin-right: 0;
}
