@import 'constants.scss';

.Profile {}

.Profile-Header {
  margin-bottom: 30px;
}
.Profile-Header div:first-child {
  font-size: 150%;
  font-weight: 600;
  color: #141EC5;
}
.Profile-Header div:last-child {
  text-align: right;
}
.Profile-Header div:last-child button:last-child {
  margin-right: 0;
}

.Profile a {
  margin-right: 10px;
}

@media (max-width: $media-ui-lg) {
  .Profile-Header{
     div:last-child {
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       button {
         margin-right: 0;
         margin-bottom: 10px;
         max-width: 250px;
         width: 100%;
       }
     }
  }
}

@media (max-width: $media-ui-md) {
  .Profile-Header {
     div:last-child {
       align-items: flex-start;
     }
  }
}
