.VacationRangeInput > * {
  margin-bottom: 15px;
}

.VacationRangeInput div.DayDetails {
  display: flex;
  flex-wrap: wrap;
}

.VacationRangeInput div.DayDetails > div {
  width: 60px;
  height: 60px;
  padding: 5px;
  border: 1px solid #eee;
  margin-right: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
}

.VacationRangeInput div.DayDetails > div.partial-time {
  background-color: #eeeeee;
}

.VacationRangeInput div.DayDetails-Hours {
  color: #aaa;
  font-size: 12px;
}

.VacationRangeInput div.SingleDatePicker {
  z-index: 150;
}

td.CalendarDay__blocked_calendar {
  background-color: #f0f0f0!important;
  border-color: #e4e7e7!important;
}
