.BasePage {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 800px) {
    .BasePage {
      margin-left: 10px;
      margin-right: 10px;
    }
}

@media (max-width: 700px) {
    .BasePage {
      margin-left: 5px;
      margin-right: 5px;
    }
}
