.SidebarItem {
  text-decoration: none!important;
  width: 100%;
  padding: 10px 15px 10px 15px;
  font-size: 18px;
  background-color: #3A38E8;
  color: white!important;
  border: 1px solid #3A38E8;
  margin-bottom: 5px;
}

.SidebarItem:hover {
  background-color: #403EFF;
}

.SidebarItem > span {
  padding-left: 10px;
}
