.Sidebar {
  height: 10000vh!important;
}

.Sidebar a.ui-sidebar-close {
  display: none;
}

.Sidebar > div {
  margin-top: 20px;
}

.Sidebar > div > a {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  color: #141EC5;
  text-decoration: none;
  cursor: pointer;
}

.Sidebar > div > a:hover {
  color: #343EE5;
}

div.ui-widget-overlay {
  height: 10000%;
}
