* {
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

html {
  background: url('./assets/bg1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  background-color: inherit;
}

div.ReactTable  {
  background-color: white;
}
