$baseWhiteColor: #fff;

$baseDarkColor: #444;
$darkenDarkColor: #222;

$baseThemeColor: #3A38E8;
$lightenThemeColor: #403EFF;

$media-ui-sm: 640px;
$media-ui-md: 641px;
$media-ui-lg: 1024px;
$media-ui-xl: 1441px;
